<h3>Update Employee</h3>
<div [hidden]="submitted" style="width: 400px;">
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="name">First Name</label>
      <input [(ngModel)]="game.name" class="form-control" id="name" name="name" required type="text">
    </div>

    <div class="form-group">
      <label for="minPlayers">minPlayers</label>
      <input [(ngModel)]="game.minPlayers" class="form-control" id="minPlayers" name="minPlayers" required type="text">
    </div>

    <div class="form-group">
      <label for="maxPlayers">maxPlayers</label>
      <input [(ngModel)]="game.maxPlayers" class="form-control" id="maxPlayers" name="maxPlayers" required type="text">
    </div>

    <button class="btn btn-success" type="submit">Submit</button>
  </form>
</div>
