<html xmlns="http://www.w3.org/1999/html" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Title</title>
</head>
<body>
<form action="#" method="post" th:action="@{/search}" th:object="${searchCriteria}">
    Name <input id="name" name="name" th:value="*{name}" type="text"/> <br/>
    minPL <input id="name" name="minPlayers" th:value="*{minPlayers}" type="text"/> <br/>
    maxPl <input id="name" name="maxPlayers" th:value="*{maxPlayers}" type="text"/> <br/>
    weight <input id="name" name="weight" th:value="*{weight}" type="text"/>

    <input type="submit" value="Submit"/>
</form>
</body>
</html>