<html xmlns="http://www.w3.org/1999/html" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Title</title>
</head>
<body>
<div th:fragment="search">
    <form action="#" method="post" th:action="@{/search}" th:object="${searchCriteria}">
        Name <input id="name" name="name" th:value="*{name}" type="text"/> <br/>
        minPL
        <select name="minPlayers" th:field="*{minPlayers}">
            <option value=""></option>
            <option th:each="n : ${#numbers.sequence(1,8)}" th:text="${n}" th:value="${n}"/>
        </select> <br/>
        maxPl
        <select name="maxPlayers" th:field="*{maxPlayers}">
            <option value=""></option>
            <option th:each="n : ${#numbers.sequence(1,8)}" th:text="${n}" th:value="${n}"/>
        </select> <br/>
        weight <input id="weight" name="weight" th:value="*{weight}" type="text"/>
        <br/>
        <input type="submit" value="Wyślij"/><br/>
        <input type="reset" value="Zresetuj"/>
    </form>
</div>
</body>
</html>
